div.create-quiz-step1 div.title { padding: 20vw 0; }
div.create-quiz-step1 div.title span { font-size: 5vw; font-weight: 700; }

div.question-count { display: flex; justify-content: center; align-items: center; padding-top: 2vw; }
div.question-count div.minus-circle-icon,
div.question-count div.plus-circle-icon { font-size: 15vw; color: orangered; }
div.question-count div.minus-circle-icon.disabled,
div.question-count div.plus-circle-icon.disabled { color: #CCC; }
div.question-count div.count { width: 30vw; height: 36vw; border-radius: 1vw; }
div.question-count div.count span { font-size: 20vw; font-weight: 600; }

@media screen and (min-width:600px) {
    div.create-quiz-step1 div.title { padding: 120px 0; }
    div.create-quiz-step1 div.title span { font-size: 30px; }

    div.question-count { padding: 12px 0; }
    div.question-count div.minus-circle-icon,
    div.question-count div.plus-circle-icon { font-size: 90px; }
    div.question-count div.count { width: 180px; height: 216px; }
    div.question-count div.count span { font-size: 120px; }
}

div.question-num { padding: 5vw 0 2vw 10vw; text-align: left; }
div.question-num span { padding: 1vw 5vw 2vw 5vw; border-radius: 1vw; color: orangered; border: 1px solid orangered; }
div.question-input { padding: 1vw 0; }
div.question-input textarea { box-sizing: border-box; width: 80vw; height: 40vw; text-align: center; padding-top: 8vw; font-size: 5vw; }
div.answer-inputs { text-align: center; }
div.answer-input { position: relative; display: inline-block; width: 80vw; height: 20vw; padding: 2vw 0; }
div.answer-input div.checkbox-icon { position: absolute; top: 60%; left: 2vw; transform: translateY(-60%); font-size: 8vw; color: #DDD; }
div.answer-input.on div.checkbox-icon { color: orangered; }
div.answer-input input { box-sizing: border-box; width: 80vw; height: 16vw; padding-left: 15vw; font-size: 4vw; }

@media screen and (min-width:600px) {
    div.question-num { padding: 30px 0 12px 60px; }
    div.question-num span { padding: 6px 30px 12px 30px; border-radius: 6px; }
    div.question-input { padding: 6px 0; }
    div.question-input textarea { width: 480px; height: 240px; padding-top: 48px; font-size: 30px; border: 1px solid #444; }
    div.answer-input { width: 480px; height: 120px; padding: 12px 0; }
    div.answer-input div.checkbox-icon { left: 12px; font-size: 48px; }
    div.answer-input input { width: 480px; height: 96px; padding-left: 90px; font-size: 24px;  border: 1px solid #444; }
}
