div.create-quiz-step1 div.title { padding: 20vw 0; }
div.create-quiz-step1 div.title span { font-size: 5vw; font-weight: 700; }

div.question-count { display: flex; justify-content: center; align-items: center; padding: 0 0 20vw 0; }
div.question-count div.right-arrow-icon,
div.question-count div.left-arrow-icon { font-size: 7vw; color: orangered; }
div.question-count div.right-arrow-icon.disabled,
div.question-count div.left-arrow-icon.disabled { color: #FFF; }
div.question-count div.count { background-color: orangered; width: 20vw; height: 20vw; border-radius: 1vw; }
div.question-count div.count span { font-size: 12vw; color: #FFF; font-weight: 900; }

@media screen and (min-width:600px) {
    div.create-quiz-step1 div.title { padding: 120px 0; }
    div.create-quiz-step1 div.title span { font-size: 30px; }

    div.question-count { padding: 0 0 120px 0; }
    div.question-count div.right-arrow-icon,
    div.question-count div.left-arrow-icon { font-size: 42px; }
    div.question-count div.count { width: 120px; height: 120px; border-radius: 6px; }
    div.question-count div.count span { font-size: 72px; }
}

div.question-input { padding: 10vw 0 1vw 0; }
div.question-input textarea { box-sizing: border-box; width: 80vw; height: 40vw; text-align: center; padding-top: 8vw; font-size: 5vw; }
div.answer-inputs { text-align: center; }
div.answer-input { position: relative; display: inline-block; width: 80vw; height: 20vw; padding: 2vw 0; }
div.answer-input div.checkbox-icon { position: absolute; top: 60%; left: 2vw; transform: translateY(-60%); font-size: 8vw; }
div.answer-input input { box-sizing: border-box; width: 80vw; height: 16vw; padding-left: 15vw; font-size: 4vw; }

@media screen and (min-width:600px) {
    div.question-input { padding: 60px 0 6px 0; }
    div.question-input textarea { width: 480px; height: 240px; padding-top: 48px; font-size: 30px; border: 1px solid #444; }
    div.answer-input { width: 480px; height: 120px; padding: 12px 0; }
    div.answer-input div.checkbox-icon { left: 12px; font-size: 48px; }
    div.answer-input input { width: 480px; height: 96px; padding-left: 90px; font-size: 24px;  border: 1px solid #444; }
}
