div.home div.logo { width: 100%; max-width: 600px; padding: 20vw 0; font-family: 'Audiowide', cursive; }
div.home div.logo > div { display: inline-block; color: #F1EC40; background-color: #121212; border-bottom: 5px solid #F1EC40; }
div.home div.logo > div > h1 { font-size: 20vw; }

@media screen and (min-width:600px){
    div.home div.logo { padding: 120px 0; }
    div.home div.logo > div > h1 { font-size: 120px; }
}
