@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* { font-family: 'Noto Sans KR', sans-serif; color: #444; font-size: 18px; text-decoration: none; }
div { box-sizing: border-box; }
html, body, div#root, div.layout, div.main { margin: 0; padding: 0; width: 100%; min-height: 100vh; }
div#root { background-color: #EEE; text-align: center; }
div.layout, div.gnb, div.footer { width: 100%; max-width: 600px; }
div.layout { display: inline-block; border: 1px solid #CCC; }
div.gnb { position: fixed; top: 0; left: 50%; transform: translateX(-50%); font-weight: 700; height: 60px; border: 1px solid #CCC; border-bottom: 1px solid #444;  background-color: #FFF; }
div.main { padding-top: 60px; max-width: 600px; background-color: #FFF; }
div.footer { background-color: #DDD; height: 100px; text-align: left; padding: 10px; }

div.gnb > span.logo { font-size: 30px; line-height: 55px; }
