html, body, #root, div.main { margin: 0; padding: 0; width: 100%; height: 100%; }
#root { background-color: #EEE; text-align: center; }
div.main { display: inline-block; max-width: 600px; background-color: #FFF; border: 1px solid #DDD; }
